.introblock {
	width: 75%;
	float: left;
}

.buttonblock {
	margin-right: 0px;
	float: right;
}

.container {
	max-width: 768px;
}

.introcontainer {
	overflow: hidden;
}

.yaspp-entry {
	border-bottom: 1px dashed #b5e853;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.yaspp-shownotes {
	word-wrap: break-word;
}
