name: Create PR from Pad Entry

on:
  workflow_dispatch: # This event triggers the workflow manually

jobs:
  parse_pad_and_create_pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: Set up Go
        uses: actions/setup-go@main
        with:
          go-version: '1.21'

      - name: Parse Pad Entry and append to content.yaml
        id: go-run
        working-directory: ./pad2gh
        run: go run ./ -c ../pr-comments.md -o ../content.yaml -bulk -max-new-entries=1 -file-online >> $GITHUB_OUTPUT # only prints the entry date and collects it in the output

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'Add episode ${{ steps.go-run.outputs.entrydate }} from Pad'
          title: 'Add episode ${{ steps.go-run.outputs.entrydate }} from Pad'
          body-path: pr-comments.md
          add-paths: content.yaml
          branch: "content-${{ steps.go-run.outputs.entrydate }} "
          base: main